<div class="animationSlider-main">
    <div class="animationSlider-words">
      <p class="animationSliderP" >Security.</p>
      <p class="animationSliderP">Safe.</p>
      <p class="animationSliderP" >Fast.</p>
      <p class="animationSliderP" >Easy.</p>
      <p class="animationSliderP">Cheap.</p>
      <p class="animationSliderP" >Guarded.</p>
      <p class="animationSliderP">Protected.</p>
      <p class="animationSliderP">Guaranteed.</p>
      <p class="animationSliderP">Certain.</p>
      <p class="animationSliderP">Genuine.</p>
      <p class="animationSliderP">Assured.</p>
    </div>
  </div>
  