<div class="content">
  <h1>USER STORAGE</h1>

  <div class="container">
    <div class="card white-card">
      <svg class="svg-bg" viewBox="0 0 375 283">
        <rect
          x="159.52"
          y="175"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 159.52 175)"
          fill="black"
        />
        <rect
          y="107.48"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 0 107.48)"
          fill="black"
        />
      </svg>
      <div class="img-container">
        <div class="img-overlay"></div>
        <img class="card-img" src="block.jpg" alt="" />
      </div>
      <div class="card-info text-black">
        <div class="info-content">
          <span class="title">Personal</span>
          <span class="percentage blue-bg">60%</span>
        </div>
      </div>
    </div>

    <div class="card black-card">
      <svg class="svg-bg" viewBox="0 0 375 283">
        <rect
          x="159.52"
          y="175"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 159.52 175)"
          fill="white"
        />
        <rect
          y="107.48"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 0 107.48)"
          fill="white"
        />
      </svg>
      <div class="img-container">
        <div class="img-overlay"></div>
        <img class="card-img" src="block.jpg" alt="" />
      </div>
      <div class="card-info text-white">
        <div class="info-content">
          <span class="title">Labour</span>
          <span class="percentage white-bg">90%</span>
        </div>
      </div>
    </div>

    <div class="card black-card">
      <svg class="svg-bg" viewBox="0 0 375 283">
        <rect
          x="159.52"
          y="175"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 159.52 175)"
          fill="white"
        />
        <rect
          y="107.48"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 0 107.48)"
          fill="white"
        />
      </svg>
      <div class="img-container">
        <div class="img-overlay"></div>
        <img class="card-img" src="block.jpg" alt="" />
      </div>
      <div class="card-info text-white">
        <div class="info-content">
          <span class="title">Academic</span>
          <span class="percentage white-bg">90%</span>
        </div>
      </div>
    </div>

    <div class="card white-card">
      <svg class="svg-bg" viewBox="0 0 375 283">
        <rect
          x="159.52"
          y="175"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 159.52 175)"
          fill="black"
        />
        <rect
          y="107.48"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 0 107.48)"
          fill="black"
        />
      </svg>
      <div class="img-container">
        <div class="img-overlay"></div>
        <img class="card-img" src="block.jpg" alt="" />
      </div>
      <div class="card-info text-black">
        <div class="info-content">
          <span class="title">Private</span>
          <span class="percentage blue-bg">60%</span>
        </div>
      </div>
    </div>
  </div>
</div>
