.bg-dark-blue {
     background-color: #141B2B;
     min-height: 41.7rem;
  }

  .slogan-title{
    margin-right: 62.5rem;
    font-size: 90px;
  }

  .slogan-p{
    margin-right: 62.5rem;
   margin-top: 2rem;
  }
  
  .text-light-blue {
    color: #1c6bf3;
  }
  