<div class="flex flex-col items-center bg-dark-blue text-center p-8">
    <div class="slogan-main mb-4">
      <h1 class="slogan-title text-7xl font-bold text-light-blue " >For you <span class="block">security</span></h1>
    </div>
    <p class="slogan-p text-lg text-white mb-6">
      Protecting Data Integrity and User Trust in a Digital Era
    </p>
    <div class="slogan-img flex items-center justify-center rounded-full bg-gray-200 p-6">
      <div class="flex items-center space-x-4">
        <img src='home-landing/slogan-img.svg' alt="">
      </div>
    </div>
  </div>
  