<header>
<div class="flex flex-row items-center justify-between bg-dark-blue p-8">
  <div class="flex flex-col text-left animate-container">
    <div class="slogan-main mb-4">
      <h1 class="slogan-title text-7xl font-bold text-light-blue animate-title">For you <span class="block animate-security">security</span></h1>
    </div>
    <p class="slogan-p text-lg text-white animate-paragraph">
      Protecting Data Integrity
      and <br> User Trust in a Digital Era
    </p>
  </div>

  <div class="slogan-img flex items-center justify-center bg-gray-200 rounded-full">
    <img src='home-landing/slogan-img.svg' alt="Security Image" class="slogan-img-svg">
  </div>
</div>
</header>
<section class="animation-slider">
  <app-animation-slider></app-animation-slider>
</section>

<section>
<app-card-img
imgUrl="home-landing/howitworks.svg"
titleCover="HOW IT WORKS?"
textCover="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu efficitur nulla. Praesent neque dui, molestie ut accumsan quis, tincidunt sit amet turpis. Nullam et vehicula libero. Vestibulum iaculis sed magna a fringilla. Nullam cursus consequat ipsum id rhoncus. Fusce est erat, sodales tincidunt ante ut, gravida vestibulum erat. Suspendisse ullamcorper, turpis in pellentesque auctor, metus est sollicitudin urna, et venenatis urna arcu eu ipsum. Aenean tristique pellentesque auctor. Mauris finibus dictum pellentesque. Pellentesque velit lorem, fringilla sed sem sit amet, pretium posuere libero."
[isLeft]="true"
></app-card-img>
<app-card-img
imgUrl="home-landing/howitworks.svg"
titleCover="WHY ARE WE SAFE?"
textCover="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu efficitur nulla. Praesent neque dui, molestie ut accumsan quis, tincidunt sit amet turpis. Nullam et vehicula libero. Vestibulum iaculis sed magna a fringilla. Nullam cursus consequat ipsum id rhoncus. Fusce est erat, sodales tincidunt ante ut, gravida vestibulum erat. Suspendisse ullamcorper, turpis in pellentesque auctor, metus est sollicitudin urna, et venenatis urna arcu eu ipsum. Aenean tristique pellentesque auctor. Mauris finibus dictum pellentesque. Pellentesque velit lorem, fringilla sed sem sit amet, pretium posuere libero."
[isLeft]="true"
>
</app-card-img>
</section>

<section>
  <div class="content-div-prices-title">
    <h1 class="content-div-prices-text">PRICES</h1>
  </div>

  <div class="prices-container">
    <app-prices
      [planType]="'Basic'"
      [price]=19
      [time]="'month'"
      [info1]="'10GB Storage'"
      [storage]="'24/7 Support'"
      [info2]="'Unlimited Bandwidth'"
      [infoPremium1]="'Premium Features'"
      [infoPremium2]="'Priority Support'"
      [infoPremium3]="'Custom Domain'"
      [infoPremium4]="'Free Setup'">
    </app-prices>

    <app-prices
      [planType]="'Pro'"
      [price]=39
      [time]="'month'"
      [info1]="'50GB Storage'"
      [storage]="'24/7 Support'"
      [info2]="'Unlimited Bandwidth'"
      [infoPremium1]="'Advanced Security'"
      [infoPremium2]="'Priority Support'"
      [infoPremium3]="'Custom Domain'"
      [infoPremium4]="'Free Setup'">
    </app-prices>
  </div>
</section>


