<div class="main-content">
  <div class="login-form">
    <form onSubmit="">
      <div class="logo">
        <img src="/logo/logo-hack-2024-png-high.png" alt="">
      </div>
      <h2 class="login-title">
        Login
      </h2>

      <div class="input-email">
        <label htmlFor="">Email</label>
        <input
          name="correo_electronico"
          type="text"
          placeholder="Email"
          required
        />
      </div>

      <div class="input-password">
        <label htmlFor="">Password</label>
        <br />
        <input
          type="password"
          placeholder="Password"
          required
          name="password"
        />
      </div>

      <button type="submit">Log In</button>
      <br />
      <br />

      <div class="register-option">
        <p class="parraf">
          Don't have an account yet?
        </p>
          <a href="/register" onclick="">
            Register for free
          </a>
      </div>
    </form>
  </div>
</div>
