<div class="upgrade-account-container">

<h1 class="title-upgrade">Upgrade your account</h1>

<br>

<h2>Upgrade your account today to unlock premium features and enhance your overall experience. By doing so, you'll gain exclusive access to advanced tools and resources, receive priority support with faster responses from our dedicated team, and enjoy increased usage limits and enhanced capabilities. Dont miss out on the full potential of your account—upgrade now and start experiencing all the benefits that await you!</h2>

</div>

<div>
<br> <br> <br> <br> <br>
  <section>
    <div class="prices-container">
      <app-prices
        [planType]="'Basic'"
        [price]=19
        [time]="'month'"
        [info1]="'10GB Storage'"
        [storage]="'24/7 Support'"
        [info2]="'Unlimited Bandwidth'"
        [infoPremium1]="'Premium Features'"
        [infoPremium2]="'Priority Support'"
        [infoPremium3]="'Custom Domain'"
        [infoPremium4]="'Free Setup'">
      </app-prices>

      <app-prices
        [planType]="'Pro'"
        [price]=39
        [time]="'month'"
        [info1]="'50GB Storage'"
        [storage]="'24/7 Support'"
        [info2]="'Unlimited Bandwidth'"
        [infoPremium1]="'Advanced Security'"
        [infoPremium2]="'Priority Support'"
        [infoPremium3]="'Custom Domain'"
        [infoPremium4]="'Free Setup'">
      </app-prices>

      
    </div>
  </section>


