<div class="main-content">
  <div class="login-form">
    <form onSubmit="">
      <div class="logo">
        <img src="/logo/logo-hack-2024-png-high.png" alt="">
      </div>
      <h2 class="login-title">
        Register
      </h2>

      <div class="input-email">
        <label htmlFor="">Name</label>
        <input
          name="correo_electronico"
          type="text"
          placeholder="Name"
          required
        />
      </div>

      <div class="input-password">
        <label htmlFor="">Last Names</label>
        <br />
        <input
          type="password"
          placeholder="Last Names"
          required
          name="password"
        />
      </div>

      <div class="input-email">
        <label htmlFor="">Email</label>
        <input
          name="correo_electronico"
          type="text"
          placeholder="Email"
          required
        />
      </div>

      <div class="input-password">
        <label htmlFor="">Password</label>
        <br />
        <input
          type="password"
          placeholder="Password"
          required
          name="password"
        />
      </div>

      <button type="submit">Register Account</button>
      <br />
      <br />

      <div class="register-option">
        <p class="parraf">
          Do you have an account?
        </p>
          <a href="" onclick="">
            Log in!
          </a>
      </div>
    </form>
  </div>
</div>

