.text-center {
    display: flex;
    align-items: center;
    gap: 7rem;
    background-color: #141B2B;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
}


.container-logo{
    width: 230px;
    height: auto;
    margin-left: 3%;
}

.container-logo img {
    width: 100%;
}