<aside>
  <div class="box-action" [routerLink]="['/']" style="cursor: pointer;">
    <div class="box-icon">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="50"
        height="60"
        stroke-width="1"
      >
        <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
        <path d="M10 12h4v4h-4z"></path>
      </svg>
    </div>
    <div class="box-title">
      <p>HOME</p>
    </div>
  </div>
  <div class="box-action" [routerLink]="['/folders']" style="cursor: pointer;">
    <div class="box-icon">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="60"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-folder"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M5 4h4l3 3h7a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2"
        />
      </svg>
    </div>
    <div class="box-title">
      <p>FOLDERS</p>
    </div>
  </div>
  <div class="box-action" [routerLink]="['/allDocuments']" style="cursor: pointer;">
    <div class="box-icon">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="50"
        height="60"
        stroke-width="1"
      >
        <path
          d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
        ></path>
        <path
          d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
        ></path>
        <path d="M9 12h6"></path>
        <path d="M9 16h6"></path>
      </svg>
    </div>
    <div class="box-title">
      <p>ALL FILES</p>
    </div>
  </div>
  <div class="box-action" [routerLink]="['/stogare']" style="cursor: pointer;">
    <div class="box-icon">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="50"
        height="60"
        stroke-width="1"
      >
        <path d="M7 16.5l-5 -3l5 -3l5 3v5.5l-5 3z"></path>
        <path d="M2 13.5v5.5l5 3"></path>
        <path d="M7 16.545l5 -3.03"></path>
        <path d="M17 16.5l-5 -3l5 -3l5 3v5.5l-5 3z"></path>
        <path d="M12 19l5 3"></path>
        <path d="M17 16.5l5 -3"></path>
        <path d="M12 13.5v-5.5l-5 -3l5 -3l5 3v5.5"></path>
        <path d="M7 5.03v5.455"></path>
        <path d="M12 8l5 -3"></path>
      </svg>
    </div>
    <div class="box-title">
      <p>USED STORAGE</p>
    </div>
  </div>
  <div class="box-action" [routerLink]="['/upGrade']" style="cursor: pointer;">
    <div class="box-icon">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="50"
        height="60"
        stroke-width="1"
      >
        <path
          d="M9 12h-3.586a1 1 0 0 1 -.707 -1.707l6.586 -6.586a1 1 0 0 1 1.414 0l6.586 6.586a1 1 0 0 1 -.707 1.707h-3.586v6h-6v-6z"
        ></path>
        <path d="M9 21h6"></path>
      </svg>
    </div>
    <div class="box-title">
      <p>UPGRADE ACCOUNT</p>
    </div>
  </div>
  <div class="box-action" [routerLink]="['/login']" style="cursor: pointer;">
    <div class="box-icon">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="50"
        height="60"
        stroke-width="1"
      >
        <path d="M20 12v-6a2 2 0 0 0 -2 -2h-12a2 2 0 0 0 -2 2v8"></path>
        <path d="M4 18h17"></path>
        <path d="M18 15l3 3l-3 3"></path>
      </svg>
    </div>
    <div class="box-title">
      <p>LOG OUT</p>
    </div>
  </div>
</aside>
